*.iml
.gradle
/local.properties
/.idea/caches/fast_util_caches.xml
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
/google-services.json
*.hprof
# OpenCV build artifacts
/opencv/build
